<div class="justify-content-center w-100">
    <button mat-flat-button class="btn btn-primary m-3" routerLink="/employees/add-employee"><strong>+ Add
            Employee</strong></button>
    <button mat-flat-button class="btn btn-info m-3" routerLink="/employees/list-employees/card"><strong>List Employee Card
            View</strong></button>
    <button mat-flat-button class="btn btn-success m-3" routerLink="/employees/list-employees/table"><strong>List Employee
            Table View</strong></button>
        <router-outlet></router-outlet>
</div>